@charset "UTF-8";
@media (max-width: 1250px) {
	.content-5 i { font-size:25px; border:rgb(42, 155, 121) solid 2px; border-radius:65px; padding:8px 12px; }
	.container-5-cta-2 { font-size:16px !important; }
	.container-5-cta-2 a { font-size:32px; }
}

@media (max-width: 1200px) {
	/*==========COLLAPSE NAVBAR START==========*/
    .navbar-header { float: none; }
    .navbar-left,.navbar-right { float: none !important; }
    .navbar-toggle { display: block; }
    .navbar-collapse { box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
    .navbar-fixed-top { top: 0; border-width: 0 0 1px; }
    .navbar-collapse.collapse {display: none!important; }
    .navbar-nav { float: none!important; }
    .navbar-nav>li { float: none; }
    .navbar-nav>li>a { padding:30px 35px; }
	.navbar-nav>li>a:hover { background-color:rgb(200, 200, 200) !important; }
    .collapse.in{ display:block !important; }
	/*========== COLLAPSE NAVBAR END ==========*/
	.logo { margin-top:20px; }

	.navbar-toggle { top:10px; left:50px; }
	.navbar-default .navbar-toggle { background-color:rgb(39, 49, 57); border-color:rgb(42, 155, 121); transition:0.5s; }
	.navbar-default .navbar-toggle:hover { background-color:rgb(57, 65, 71); padding:9px 5px 19px 5px; }
	.navbar-default .navbar-toggle .icon-bar { background-color:rgb(42, 155, 121); transition:0.5s; }
	.navbar-default .navbar-toggle:hover .icon-bar { transform:rotate(-90deg); margin-top:0; }
	.navbar-default .navbar-toggle:hover .bar1 { margin-top:10px; }
	.navbar-default .navbar-toggle:hover .bar2 { margin-top:-2px; margin-left:8px; }
	.navbar-default .navbar-toggle:hover .bar3 { margin-top:-2px; margin-left:16px; }
	#navbar { position:absolute; top:150px; right:-50px; background-color:rgb(255, 255, 255); border-top:0; padding:0; margin-top:-1px; text-align:right; z-index:3; }

	.nav-cta-wrap { right:0; left:50px; }

	.laptop-man { display:none; }
	.col-md-0 { display:none; }

	.carousel, .carousel .item { height:350px; }

	.newsletter-submit { margin-bottom:3px; }
}

@media (max-width: 992px) {
	.v-divider { border-left:0; text-align:center; margin-top:40px; }
	.content-2-cta-2-wrap { display:inline-block; }
	.content-2 i { margin-left:0; }
	.container-2-cta .btn { display:block; margin:0 auto; }
	.content-2-cta-2-wrap { display:inline-block; text-align:center; }

	.content-4 img { margin-top:40px; }

	.content-5 i { font-size:40px; border:rgb(42, 155, 121) solid 4px; border-radius:65px; padding:10px 15px; margin-left:0; }
	.container-5-cta-2 { font-size:20px !important; }
	.container-5-cta-2 a { font-size:41px; }
	.container-5-cta .btn { float:none; }
	.content-5-cta-2-wrap { display:inline-block; text-align:center; margin-top:40px; }

	.creds-br-992 { display:block; }
	.credentials .container { text-align:center; }
	.credentials .container img:nth-child(2), .credentials .container img:last-child { margin-left:40px; }

	.carousel, .carousel .item { height:420px; }
}

@media (max-width: 860px) {
	.nav-cta-wrap { left:0; margin:0 auto; }
}

@media (max-width: 768px) {
	.topbar .fa-phone { margin-left:15px; }

	.navbar-toggle { left:0; }
	#navbar { right:0; top:130px; }

	.carousel, .carousel .item { height:580px; }
	.carousel-control { top:100px; }
}

@media (max-width: 620px) {
	.topbar { height:80px; }
	.nav-cta-tri-left { display:none; }
	.nav-cta-tri-right { display:none; }
	.nav-cta-wrap, .nav-cta-link, .nav-cta { width:100%; text-align:center; }
	.topbar-fb { border-bottom:rgb(110, 115, 119) solid 1px; }
	.topbar-gp { border-bottom:rgb(110, 115, 119) solid 1px; }
	header h1 { font-size:40px; margin-top:24%; }
}

@media (max-width: 480px) {
	.nav-cta .fa-phone { font-size:25px; border:rgb(250, 125, 33) solid 2px; border-radius:65px; padding:8px 12px; }
	.nav-cta p { font-size:12px; margin-top:28px; }
	.nav-cta span { font-size:28px; }
	.nav-cta-link { height:80px; }
	.nav-cta { height:80px; }
	header .btn { font-size:20px !important; }

	.content-2 i { font-size:25px; border:rgb(42, 155, 121) solid 2px; border-radius:65px; padding:8px 12px; }
	.content-2 .container-2-cta-2 { font-size:17px; }
	.container-2-cta-2 a { font-size:28px; }
	.content-2 h2 { font-size:40px; }
	.container-2-cta .btn { font-size:20px !important; }

	.content-5 i { font-size:25px; border:rgb(42, 155, 121) solid 2px; border-radius:65px; padding:8px 12px; }
	.container-5-cta-2 { font-size:17px !important; }
	.container-5-cta-2 a { font-size:28px; }

	.newsletter-break { display:block; }
	.newsletter-submit { width:100%; margin-left:0; }
	.newsletter-input { width:100%; }

	.credentials .container img { margin-top:25px; margin-left:0 !important; }

	.carousel, .carousel .item { height:700px; }
}

@media (max-width: 400px) {
	.topbar .topbar-social { padding-right:0 !important; }
	.topbar-fb, .topbar-gp { width:40px; height:40px; }

	footer .fa { margin-right:15px; }
	.carousel, .carousel .item { height:820px; }
}

@media (max-width: 370px) {
	#navbar { top:110px; }

	header h1 { font-size:35px; }
	header .btn { font-size:17px !important; }

	.container-2-cta .btn { font-size:17px !important; }
	.content-2 i { font-size:20px; padding:6px 10px; }
	.content-2 .container-2-cta-2 { font-size:13px; line-height:2.3; }
	.container-2-cta-2 a { font-size:26px; }

	.rating p { font-size:60px; }
}
